*
  box-sizing: border-box

pre,
code
  margin 0
  padding 0

#main
  margin-left 200px
  padding 10px 15px

.sidebar-menu
  width 200px
  a
    text-align center
    color #606266
    text-decoration none
    &.sidebar-menu-active,
    &:hover
      color#1989fa

.codetab
  margin-top 20px
  margin-bottom 20px
  .tab_content
    padding-left: 0;
    padding-right: 0;
