@import './preset'

// base colors
c_deep_primary = #1989fa
c_primary = #409eff
c_success = #67c23a
c_warning = #e6a23c
c_danger = #f56c6c
c_default = #909399
c_pri_text = #303133 // primary text
c_nor_text = #606266 // normal text
c_min_text = #909399 // minjor text
c_pla_text = #C0C4CC // placeholder text
c_one_border = #DCDFE6 // one-level border
c_two_border = #E4E7ED
c_three_border = #EBEEF5
c_four_border = #F2F6FC
c_black = #000
c_white = #fff
c_transpt = transparent

// base text size
t_small = 14px
t_normal = 16px
t_big = 20px
t_large = 24px

// grid
col_num = 12
gutter_x = 30px
gutter_y = 20px

// tab
tab_border = 1px solid c_one_border
tab_padding = 10px
tab_header_border = 1px solid c_two_border
tab_btn_width = auto
tab_btn_border = 1px solid c_two_border
tab_btn_padding_x = 10px
tab_btn_line_height = 40px
tab_btn_color = c_pri_text
tab_btn_active_color = c_primary
tab_btn_bg_color = c_white
tab_btn_text_size = t_small
tab_content_padding = 10px 15px

// nav
nav_padding = 10px 15px
nav_border = 1px solid c_one_border
nav_item_padding = 10px 15px
nav_item_text_decoration = none
nav_link_color = c_nor_text
nav_link_active_color = c_deep_primary

// menu
menu_border = 1px solid c_one_border
menu_item_padding = 10px 15px
menu_item_margin_x = 15px
menu_item_border = 1px solid c_two_border
