@import '../themes'

.menu
  border menu_border
  list-style none
  text-align center
  &_item
    padding menu_item_padding
    margin-left menu_item_margin_x
    margin-right menu_item_margin_x
    border-bottom menu_item_border
    &:last-child
      border-bottom 0
